In [332]:
import sqlite3
import pandas as pd
from pandas import DataFrame

In [333]:
conn = sqlite3.connect("/Users/user/Documents/dh_mellon/proj2017/liteMegaText/imdb.db")

In [334]:
df = pd.read_sql_query("SELECT * from encyclopedia \
LEFT OUTER JOIN linktbl on linktbl.uid = encyclopedia.uid", conn)
df = DataFrame(df)
df.columns = df.keys()

In [335]:
df.nunique()

uid                    1732
program_title          1672
program_type             10
program_genre            30
network                  57
first_air_month          13
first_air_day            31
first_air_year           13
last_air_month            3
last_air_day              3
last_air_year            37
program_description    1728
uid                    1278
id                     1183
dtype: int64

In [336]:
df1 = pd.read_sql_query("SELECT * from movie_info2 \
INNER JOIN linktbl on linktbl.id = movie_info2.movie_id \
WHERE movie_info2.info_type_id = 98 \
OR movie_info2.info_type_id = 3 \
OR movie_info2.info_type_id = 17 \
OR movie_info2.info_type_id = 10", conn)
df1 = DataFrame(df1)
df1.columns = df1.keys()
df1.columns = ['id','movie_id','info_type_id','info','note','uid','lid']

In [337]:
df1.nunique()

id              4239
movie_id        1123
info_type_id       3
info            2487
note             106
uid             1227
lid             1123
dtype: int64

In [338]:
df1['note'].count()

439

In [339]:
df_info = df1.pivot_table(values='info', index=['id', 'movie_id', 'uid', 'lid'], columns= 'info_type_id', \
                aggfunc='last')

In [340]:
df_info.count()

info_type_id
3     2112
17    2862
98     439
dtype: int64

In [341]:
df_info.reset_index(inplace=True)

In [342]:
df_info.count()

info_type_id
id          5413
movie_id    5413
uid         5413
lid         5413
3           2112
17          2862
98           439
dtype: int64

In [343]:
#Steve let me know if this will help
gb = df_info.groupby(('movie_id'))
result = gb[3].unique()
result1 = gb[98].unique()

In [344]:
#Let me know if this will help
result.sort_index().head()

movie_id
16535                   [None, Drama]
18439                 [None, Western]
35319    [None, Action, Crime, Drama]
41569           [None, Comedy, Music]
42033                        [Comedy]
Name: 3, dtype: object

In [345]:
df23 = pd.read_sql_query("SELECT * from title2 \
LEFT OUTER JOIN movie_companies2 ON title2.id=movie_companies2.movie_id \
LEFT OUTER JOIN company_name2 ON movie_companies2.company_id=company_name2.id \
LEFT OUTER JOIN linktbl on linktbl.id = title2.id \
LEFT OUTER JOIN encyclopedia on encyclopedia.uid = linktbl.uid \
WHERE company_name2.country_code like '[us]' AND title2.kind_id <> '7'", conn)

In [346]:
df23.count()

id                     6699
title                  6699
imdb_index               38
kind_id                6699
production_year        6699
imdb_id                   0
phonetic_code          6699
episode_of_id             0
season_nr                 0
episode_nr                0
series_years           5693
md5sum                 6699
id                     6699
movie_id               6699
company_id             6699
company_type_id        6699
note                   4353
id                     6699
name                   6699
country_code           6699
imdb_id                   0
name_pcode_nf          6699
name_pcode_sf          6699
md5sum                 6699
uid                    4447
id                     4447
uid                    4447
program_title          4447
program_type           4447
program_genre          4447
network                4447
first_air_month        4447
first_air_day          4447
first_air_year         4447
last_air_month         4447
last_air_day           4447
last_air_year          4447
program_description    4447
dtype: int64

In [297]:
df2 = DataFrame(df2)
df2.columns = df2.keys()
df3 = df2.drop(columns=['imdb_id', 'phonetic_code', 'episode_of_id', 'season_nr', 'episode_nr', 'md5sum', 'id','company_id', \
         'company_type_id', 'note', 'id', 'country_code', 'imdb_id', 'name_pcode_nf', 'name_pcode_sf', 'md5sum' \
         'id', 'uid', 'first_air_month', 'first_air_day', 'last_air_month', 'last_air_day'])

In [299]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6699 entries, 0 to 6698
Data columns (total 14 columns):
title                  6699 non-null object
imdb_index             38 non-null object
kind_id                6699 non-null int64
production_year        6699 non-null int64
series_years           5693 non-null object
movie_id               6699 non-null int64
name                   6699 non-null object
program_title          4447 non-null object
program_type           4447 non-null object
program_genre          4447 non-null object
network                4447 non-null object
first_air_year         4447 non-null float64
last_air_year          4447 non-null object
program_description    4447 non-null object
dtypes: float64(1), int64(3), object(10)
memory usage: 732.8+ KB

In [295]:
df3

['id',
 'movie_id',
 'title',
 'kind_id',
 'production_year',
 'series_years',
 'name',
 'uid',
 'program_title',
 'program_type',
 'program_genre',
 'network',
 'first_air_year',
 'last_air_year',
 'program_description']

In [266]:
s1 = pd.merge(df[], df1, how='left', on=['id', 'uid'])

SyntaxError: invalid syntax (<ipython-input-266-df9568de9cd8>, line 1)

In [ ]:
title2.id, title2.title, title2.kind_id, title2.production_year, \
title2.series_years, company_name2.name, encyclopedia.uid, encyclopedia.program_title, encyclopedia.program_type, \
encyclopedia.program_genre, encyclopedia.network, encyclopedia.first_air_year, \
encyclopedia.last_air_year, encyclopedia.program_description